@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
body, html{
	font-family: 'Open Sans', Segoe UI;
	background: url('http://oi58.tinypic.com/2h3u78k.jpg');
}
.menugroup .button.big, .menugroup .button {
	color: #00FFD0;
	background: #252525;
	border-radius: 0px;
	border: none;
	box-shadow: none;
	border-bottom: 3px solid #131313;
}

.menugroup .button.big:hover, .menugroup .button:hover {
	background: #333;
}

.chat-log .notice, .chat-log .chat, .pm-log .chat, .message {
	padding: 4px 0 2px 0;
	font-size: 11pt;
}
.chat-log {
	background: rgba(0, 0, 0, 0.5);
	color: #77D6B8;
}
.chat-log-add {
	border-top: 1px solid rgba(19, 19, 19, 0.32);
	background: rgba(0, 0, 0, 0.5);
}

.tabbar a.button {
	background: #333;
	color: #00E7C2;
	text-shadow: 1px 2px 21px #00B497;
	font-size: 14px;
	border: none;
	margin: 2px -1px 0 0;
}

.tabbar a.button.cur, .tabbar a.button.cur:hover {
	background: #555;
	color: #00E7C2;
	border: none;
}

.tabbar a.button:hover {
	background: #414141;
	text-shadow: 1px 2px 21px #00DAB7;
}

.trainercard{
    background: #343434;
    height: 400px;
    width: 700px;
    border-bottom: 4px solid #333;
}
.titlename{
    padding: 20px;
    font-size: 40px;
    text-shadow: 0px 1px 24px #A59A1A;
    color: #E3D50B;
}
.description{
    padding: 20px;
    color: #05F5B9;
    font-size: 24px;
}

.italic{
    font-style: italic;
    font-size: 40px;
    color: #26E0CB;
		font-style: normal;
}
.userlist{
	background: url('http://i.imgur.com/8Uy3Xar.png') no-repeat #080808;
	border-right: 1px solid #101010;
}

.userlist li{
	border: none;
	color: rgb(107, 248, 197);
}
.maintabbarbottom{
	background: #555;
}

.pm-log{
	background: rgba(22, 22, 22, 0.94);
	border: none;
	color: rgba(90, 255, 222, 0.97);
}

.pm-window h3{
	border: none;
	background: rgba(36, 36, 36, 0.94);
	color: #8038FF;
}
.pm-window h3:hover{
	color: #A069FF;
}
.userlist li em.group{
	color: #77F5EB;
}
.pm-window.pm-window.focused h3 {
	background: #333;
	color: #4AFAD7;
}
.pm-window.focused, .pm-log{
	border: none;
}
.pm-log-add{
	background: #333;
	border: none;
}

a {
	color: #EEC523;
}

.highlighted {
	background-color: #58009C;
}
.ps-room{
	border-left: 1px solid #545454;
}
.userlist li button:hover {
	background: #747474;
}
.ps-popup{
	background: #222;
	color: rgb(188, 142, 255);
	border: 1px solid #373737;
	box-shadow: none;
}

.sayhey, .sayhey:hover, .sayhey:active{
	color: #2AECC8;
	background: #1F1F1F;
	border: none;
	border-bottom: 3px solid #2D2D2D;
	padding: 8px 20px;
	margin: 10px;
}
.ps-room.ps-room-light {
	background: rgba(29, 29, 29, 0.9);
	color: rgb(244, 208, 26);
}
.roomlist a.ilink{
	border: 1px solid #272727;
	background: #222222;
	text-decoration: none;
	color: #9A71FF;
	text-shadow: #37148B 0px -1px 0;
	box-shadow: 1px 1px 1px #414141;
	font-size: 15px;
}

.roomlist a.ilink:hover {
	border: 1px solid #3A3A3A;
	background: #313131;
	text-decoration: none;
	color: #A17BFF;
}

button {
	background: #343434;
	color: rgb(179, 119, 255);
	border: none;
	border-bottom: 3px solid #282828;
	padding: 7px 10px;
	font-size: 14px;
	margin: 2px;
}

button:hover {
	background: #373737;
	color: rgb(186, 132, 255);
	border: none;
	border-bottom: 3px solid #2C2C2C;
}

.jslider .jslider-value{
	background: rgb(45, 45, 45);
}
.utilichart .movenamecol{
	color: #CBA0FA;
}
.teambuilder-results .result a:hover{
	border: 1px solid #3E4041;
	background: #3A3A3A;
}
.teambuilder-results h3, .teambuilder-results .utilichart h3{
	text-shadow: 1px 1px 0 rgba(128, 83, 14, 0.71);
	border: 1px solid #313435;
	background: #212325;
}
.select, .select:hover{
	border: none;
}
.setchart{
	border: 1px solid #9875ED;
	background: #949494;
	background: #373737;
}
.setchart label, .setchart-nickname label{
	font-size: 9pt;
	color: #AB7AEC;
	text-shadow: none;
}
.teambuilder-results .firstresult a, .teambuilder-results .firstresult a:hover{
	border: 1px solid #5C50A5;
	background: #424242;
}
.utilichart b{
	color: #59ECBF;
}
.utilichart .namecol{
	color: #A97ED7;
}
